{
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "overrides": [{ "files": ["**/*.liquid", "**/*.html"], "options": { "parser": "liquid-html" } }],
  "printWidth": 150,
  "trailingComma": "es5",
  "endOfLine": "lf"
}
